{% extends "baseAdmin.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}


{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{{ path ('index') }}"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Admin</a>
                        <span>AddProduct</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- addProduct Form Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
           {{ form_start (productForm,  {'attr':{'class': 'checkout-form'}}) }}
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Add Product</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="name">Name<span>*</span></label>
                                {{ form_widget (productForm.name, {'attr':{'class' : 'inputForm'}}) }}
                                {# <input type="text" id="fir" name="name" required> #}
                            </div>
                            <div class="col-lg-12">
                                <label for="description">Description<span>*</span></label>
                                {{ form_widget (productForm.description, {'attr':{'class' : 'inputForm'}})  }}
                                {# <textarea  rows="5" cols="47" id="description" name="description" required></textarea> #}
                            </div>
                            <div class="col-lg-12">
                                <label for="price">Price Excl.VAT<span>*</span></label>
                                {{ form_widget (productForm.priceExclVAT, {'attr':{'class' : 'inputForm'}}) }}
                                {# <input type="text" id="price" name="price" required> #}
                        </div>
                            <div class="col-lg-12">
                                <label for="reorderQuantity">Reorder Quantity<span>*</span></label>
                                {{ form_widget (productForm.reorderQuantity, {'attr':{'class' : 'inputForm'}}) }}
                                {# <input type="text" id="reorderQuantity" name="reorderQuantity"> #}
                            </div>
                            <div class="col-lg-12">
                                <label for="reorderLevel">Reorder Level<span>*</span></label>
                                {{ form_widget (productForm.reorderLevel, {'attr':{'class' : 'inputForm', 'value' : '10'}}) }}
                                {# <input type="text" id="reorderLevel" name="reorderreorderLevel"> #}
                            </div>
                            <div class="col-lg-12">
                                <label for="color">Color<span>*</span></label>
                                {{ form_widget (productForm.color, {'attr':{'class' : 'inputForm'}}) }}
                                {# <input type="file" id="color" name="color"> #}
                            </div>
                            <div class="col-lg-12">
                                <label for="size">Size<span>*</span></label>
                                {{ form_widget (productForm.size, {'attr':{'class' : 'inputForm'}}) }}
                                {# <input type="file" id="color" name="color"> #}
                            </div>
                            <div class="col-lg-12">
                                <label for="plantType">PlantType<span>*</span></label>
                                {{ form_widget (productForm.plantType, {'attr':{'class' : 'inputForm'}}) }}
                                {# <input type="file" id="color" name="color"> #}
                            </div>
                            <div class="col-lg-12">
                                <label for="plantPhoto">Upload Photo<span>*</span></label>
                                {{ form_widget (productForm.photo, {'attr':{'class' : 'inputForm'}}) }}
                                {# <input type="file" id="plantPhoto" name="plantPhoto"> #}
                            </div>
                            <div class="col-lg-12">
                                <div class="create-item">
                                    <label for="acc-create">Add
                                        <input type="submit" value="Add" id="acc-create">
                                        {# <input type="checkbox" id="acc-create"> #}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {# TODO  #}
                    </div>
                </div>
            {{ form_end (productForm) }}
        </div>
    </section>
    <!-- addProduct Form Section End -->


{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}