{% extends "base.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}


{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./show/shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">            
                {% if items | length>0 %}     
                    <div class="col-lg-12">
                        <div class="cart-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th class="p-name">Product Name</th>
                                        <th>Price</th>
                                        {# <th>Price VAT</th> #}
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>              
                                    {% for item in items %}
                                        <tr>
                                            <td class="cart-pic first-row"><img src="{{ asset ('dossierFichiers/' ~ item.product.photo  ) }}" alt="{{ item.product.name }}"></td>
                                            <td class="cart-title first-row">
                                                <h5>{{ item.product.name }}</h5>
                                            </td>
                                            <td class="p-price first-row">{{ item.product.priceExclVAT }}</td>
                                            <td class="qua-col first-row">
                                                <div class="quantity">
                                                    <div class="pro-qty">
                                                    {# TODO update quantity #}
                                                        {# <a href="{{ path ('cart_qtyUpdate') }}" #}
                                                            <input id="{{item.product.id}}" type="text" value="{{ item.quantity }}">
                                                        {# </a> #}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="total-price first-row">{{ item.product.priceExclVAT * item.quantity }}</td>
                                            <td> <a href="{{ path('cart_remove', { id : item.product.id  }) }}" class="close-td first-row"><i class="ti-close"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="cart-buttons">
                                    <a href="{{ path('show-shop')}}" class="primary-btn continue-shop">Continue shopping</a>
                                    {# TODO update cart with quantities #}
                                    <a href="#" class="primary-btn up-cart">Update cart</a>
                                </div>
                                <div class="discount-coupon">
                                    <h6>Discount Codes</h6>
                                    <form action="#" class="coupon-form">
                                        <input type="text" placeholder="Enter your codes">
                                        <button type="submit" class="site-btn coupon-btn">Apply</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-4">
                                <div class="proceed-checkout">
                                    <ul>
                                        <li class="subtotal">Number of items <span>{{ counter }}</span></li>
                                        <li class="cart-total">Total <span>{{ total }}</span></li>
                                    </ul>
                                    <a href="{{ path('add_orderLine') }}" class="proceed-btn">PROCEED TO CHECK OUT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h5 class="text center"> your basket is empty  </h5>                         
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}