{% extends "base.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            {{ form_start (form,  {'attr':{'class': 'checkout-form'}}) }}
                <div class="row">
                    <div class="col-lg-6">
                        {# <div class="checkout-content">
                            <a href="#" class="content-btn">Click Here To Login</a>
                        </div> #}
                        <h4>Add Delivery Address</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="cun-name">Company Name</label>
                                {{ form_widget (form.companyName, {'attr':{'id' : 'cun-name'}}) }}
                            </div>
                            <div class="col-lg-12">
                                <label for="street">Street<span>*</span></label>
                                {{ form_widget (form.street, {'attr':{'id' : 'street', 'class' :'street-first' }}) }}
                            </div>
                            <div class="col-lg-12">
                                <label for="streetNr">Street Number<span>*</span></label>
                                {{ form_widget (form.streetNumber, {'attr':{'id' : 'streetNr'}}) }}
                            </div>
                            <div class="col-lg-12">
                                <label for="appartNr">Appartment Number<span>*</span></label>
                                {{ form_widget (form.appartNumber, {'attr':{'id' : 'appartNr'}}) }}
                            </div>
                            <div class="col-lg-12">
                                <label for="zip">Postcode / ZIP (optional)</label>
                                  {{ form_widget (form.zipcode, {'attr':{'id' : 'zip' }}) }}
                            </div>
                            <div class="col-lg-12">
                                <label for="town">Town / City<span>*</span></label>
                                {{ form_widget (form.city, {'attr':{'id' : 'town' }}) }}
                            </div>
                            <div class="col-lg-12">
                                <label for="cun">Country<span>*</span></label>
                                {{ form_widget (form.country, {'attr':{'id' : 'cun'}}) }}
                            </div>
                            <div class="col-lg-6">
                                <label for="phone">Phone<span>*</span></label>
                                {{ form_widget (form.phone, {'attr':{'id' : 'phone'}}) }}
                            </div>
                            {# <div class="col-lg-12">
                                <div class="create-item">
                                    <label for="acc-create">
                                        Create an account?
                                        <input type="checkbox" id="acc-create">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div> #}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {# <div class="checkout-content">
                            <input type="text" placeholder="Enter Your Coupon Code">
                        </div> #}
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                {# <ul class="order-table">
                                    <li>Product <span>Total</span></li>
                                    <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
                                    <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
                                    <li class="fw-normal">Combination x 1 <span>$120.00</span></li>
                                    <li class="fw-normal">Subtotal <span>$240.00</span></li>
                                    <li class="total-price">Total <span>$240.00</span></li>
                                </ul> #}
                                <div class="payment-check">
                                    {# <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div> #}
                                         <script
                                            src="https://www.paypal.com/sdk/js?client-id=Ae8CsxNloOtyxlGywMCuHgLdRsr0zekJcvK3oNoD65b-7TV8JFa0ZFy-UNc5kOtPhSjb_Qj2ZYqKJBO4"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
                                        </script>
                                    <div id="paypal-button-container"></div>
                                    



                                </div>
                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
    <!-- Shopping Cart Section End -->
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '0.01'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        alert('Transaction completed by ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>

{% endblock %}