{% extends "base.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{{ path ('index') }}"><i class="fa fa-home"></i> Home</a>
                        <a href="{{ path ('show-shop') }}">Shop</a>
                        <a href="{{ path ('check_out') }}">Check Out</a>
                        <span>Payment Method</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="payment">Payment Method</h4>
                    {# PAYPAL - TODO in live change id client #}
                    <script
                        src="https://www.paypal.com/sdk/js?client-id=Ae8CsxNloOtyxlGywMCuHgLdRsr0zekJcvK3oNoD65b-7TV8JFa0ZFy-UNc5kOtPhSjb_Qj2ZYqKJBO4"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
                    </script>
                    <div id="paypal-button-container"></div>

                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}